Source: nanoflann
Section: science
Priority: optional
Maintainer: Jose Luis Blanco (University of Malaga) <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 5), 
               autotools-dev,
               cmake,
               perl,
               libgtest-dev,
               libeigen3-dev | perl
Standards-Version: 3.9.3
Vcs-Svn: http://nanoflann.googlecode.com/svn/trunk/
Vcs-Browser: http://code.google.com/p/nanoflann/source/browse/
Homepage: http://code.google.com/p/nanoflann/

Package: libnanoflann-dev
Section: libdevel
Architecture: all
Depends: ${misc:Depends}
Description: C++ header-only fork of the FLANN library for KD-trees
 nanoflann is a C++ header-only library for building KD-Trees, mostly optimized 
 for 2D or 3D point clouds. Queries for neighbors around any arbitrary location 
 in space can then be solved quickly and efficiently using Approximate Nearest 
 Neighbor (ANN) algorithms.
 .
 nanoflann does not require compiling or installing any binary library, just 
 an #include <nanoflann.hpp> in your code.
 .
 This library is a fork (and a subset) of the `flann` library, by Marius Muja 
 and David G. Lowe, which was started by Jose Luis Blanco Claraco. Following 
 the original license terms, nanoflann is distributed under the BSD license.

